html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    justify-content: space-between;


}

.pages-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 2rem 4rem;
    max-width: 100%;
}

.title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-group>.add-button {
    padding: 0 2rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background: rgb(0, 184, 0);
    color: white;
    font-weight: bold;
}

.title-group>.add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width:768px) {
    .container {
        height: 100%;
    }
}